.marquee {
  white-space: nowrap;
  display: inline-block;
  animation: marquee  10s linear infinite;
  max-width: 200px;
  padding-left: 20%;
}

@keyframes marquee {
	0% {
		transform: translateX(0%)
	}
	100% {
		transform: translateX(-100%)
	}
}